.calculator{
    height: 500px;
    width: 290px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    display: flex;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows:  1fr 60px 60px 60px 60px 60px  ;
   
}